@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 24px;
    color: #fff;
    background: linear-gradient(blue, pink);
}

.row {
    width: 40%;
    margin-top: 80px;
    margin-left: 120px;

}

h1 {
    display: flex;
    align-items: center;
    gap: 14px;
}

.imges {
    width: 19px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
    margin-left: 120px;
    padding: 10px;
    border-radius: 40px;
    background: rgb(102, 102, 175);
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;

}

.row img {
    width: 54px;
}

.notes {
    min-height: 170px;
    background: #fff;
    width: 100%;
    max-width: 490px;
    margin-left: 120px;
    border-radius: 4px;
    margin-top: 24px;
    border: 0;
    outline: 0;
    color: black;
    padding: 10px;
    position: relative;
}

.notes img {
    position: absolute;
    width: 24px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}